Source: ros-testing-ros2topic
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-testing-ament-copyright, ros-testing-ament-flake8, ros-testing-ament-pep257, ros-testing-ament-xmllint, ros-testing-geometry-msgs, ros-testing-ros-testing, ros-testing-ros2cli, ros-testing-std-msgs, ros-testing-test-msgs, ros-testing-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-ros2topic
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-numpy, python3-yaml, ros-testing-rclpy, ros-testing-ros2cli, ros-testing-rosidl-runtime-py, ros-testing-ros-workspace
Description: The topic command for ROS 2 command line tools.
