Source: ros-testing-ros2pkg
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-testing-ament-copyright, ros-testing-ament-flake8, ros-testing-ament-pep257, ros-testing-ament-xmllint, ros-testing-ros-testing, ros-testing-ros2cli, ros-testing-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-ros2pkg
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-catkin-pkg-modules, python3-empy, python3-pkg-resources, ros-testing-ament-index-python, ros-testing-ros2cli, ros-testing-ros-workspace
Description: The pkg command for ROS 2 command line tools.
